DATABASE_URL="file:./dev.db"
JWT_SECRET="super-secret-change-me"
TBANK_INVEST_API_URL="https://api-invest.tbank.ru/openapi"
TBANK_INVEST_SOCKET_URL="wss://api-invest.tbank.ru/openapi/md/v1/md-openapi/ws"

